name: Localisation.WPF CI-BuildOnly

on:
  push:
    branches-ignore:
      - main

jobs:
  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    steps:

    - name: Checkout
      uses: actions/checkout@v6
      with:
       fetch-depth: 0

    - name: Setup .NET (With cache)
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
        dotnet-quality: 'preview'
        cache: true
        cache-dependency-path: |
            **/Directory.Packages.props
            **/*.sln
            **/*.csproj
            **/global.json
            **/nuget.config

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2.0.0
      with:
        vs-prerelease: true

    - name: NBGV
      id: nbgv
      uses: dotnet/nbgv@master
      with:
        setAllVars: true
    - run: echo 'SemVer2=${{ steps.nbgv.outputs.SemVer2 }}'

    - name: NuGet Restore
      run: dotnet restore Localisation.WPF.sln
      working-directory: src

    - name: Build
      run: msbuild /t:build,pack /nowarn:MSB4011 /maxcpucount /p:NoPackageAnalysis=true /verbosity:minimal /p:Configuration=Release Localisation.WPF.sln
      working-directory: src

    - name: Run Unit Tests and Generate Coverage
      uses: glennawatson/coverlet-msbuild@v2.1
      with:
        project-files: 'src/**/*Tests*.csproj'
        no-build: true
        include-filter: 'Localisation.WPF*'
        output-format: cobertura
        configuration: Release

    - name: Upload Code Coverage
      uses: codecov/codecov-action@v5

    - name: Create NuGet Artifacts
      uses: actions/upload-artifact@master
      with:
        name: nuget
        path: '**/*.nupkg'
